<% content_for :title, "users" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">Users: <%= @pagy.count %></h1>
  </div>

  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
    </div>
    <%= render "layouts/shared/pagy", pagy: @pagy if @pagy.present? %>
  </div>

  <div id="users" class="w-full grid grid-cols-3 gap-4 ">
    <%= render @users%>
  </div>
</section>
