<% content_for :title, "New questionnaire" %>

<section class="container mx-auto px-4">
<%= turbo_frame_tag "new_quesitonnaire" do %>
  <%= render "form", questionnaire: @questionnaire %>
<% end  %>
</section>
