<p style="color: green"><%= notice %></p>

<% content_for :title, "answers" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">answers</h1>
    <%= link_to "New answer", new_answer_path, class: "px-3 py-1.5 border border-blue-500 text-blue-500 hover:bg-blue-200 hover:text-blue-700 rounded-md font-medium" %>
  </div>

  <div id="answers" class="grid grid-cols-4 gap-4 ">
    <%= render @answers%>
  </div>
</section>

