<% content_for :title, "answers" %>

<section class="container flex flex-col gap-4">

  <div class="flex justify-between gap-4 my-8">
    <h1 class="text-3xl font-semibold text-gray-800">Answers: <%= @pagy.count %></h1>
  </div>

  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
      
      <% if @students.present? %>
        <% @students.each do |id, email| %>
          <%= link_to email,
                answers_path(student_id: id),
                class: "rounded-lg py-3 px-5 bg-blue-100 text-blue-500 hover:bg-blue-200 inline-block font-medium #{'bg-blue-500 text-white' if params[:student_id].eql?(id)}" %>
        <% end %>
      <% end %>
    </div>
    <%= render "layouts/shared/pagy", pagy: @pagy if @pagy.present? %>
  </div>

  <div class="bg-white shadow-md rounded-lg overflow-hidden my-8">
    <div class="grid grid-cols-9 gap-4 p-4 bg-gray-100 font-semibold text-sm text-gray-700">
      <div class="">Student</div>
      <div>Questionnaire</div>
      <div class="col-span-2">Question</div>
      <div class="text-right">Response</div>
      <div class="text-right">Correct Values</div>
      <div class="text-right">Score</div>
      <div class="text-right">Answered At</div>
      <div class="text-right">Actions</div>
    </div>
    <div class="divide-y divide-gray-200">
      <%= render partial: 'answer', collection: @answers, as: :answer %>
    </div>
  </div>
</section>
