<p style="color: green"><%= notice %></p>

<% content_for :title, "Answers" %>

<h1>Answers</h1>

<%= turbo_frame_tag "answers" do %>
  <div id="answers" class = "grid grid-cols-4 gap-4 ">
    <%= render @answers %>
  </div>
<%= link_to "New answer", new_answer_path %>
