<% content_for :title, "New answer" %>

<section class="container mx-auto px-4">
  <h1 class="text-3xl font-semibold text-gray-800">New Answer</h1>
<%= turbo_frame_tag "new_answer" do %>
  <%= render "form", answer: @answer, question: @question, questionnaire: @questionnaire %>
<% end  %>
</section>
