<% content_for :title, "New item" %>

<section class="container mx-auto px-4">
  <h1 class="text-3xl font-semibold text-gray-800">New Item</h1>
<%= turbo_frame_tag "new_item" do %>
  <%= render "form", item: @item %>
<% end  %>
</section>
