<%= turbo_frame_tag @id do %>
  <article class="card card-hover shadow-hover transform-hover">
    <div class="card-body">

      <% if @title.present? %>
        <header class="card-header">
          <h2 class="card-title">
            <%= @title %>
          </h2>
        </header>
      <% end %>

      <section class="card-content">
        <%= content %>
      </section>

      <% if @actions.present? %>
        <footer class="card-footer card-actions">
          <% @actions.each do |action| %>
            <%= action %>
          <% end %>
        </footer>
      <% end %>

    </div>
  </article>
<% end %>