<%= turbo_frame_tag @id do %>
  <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="flex flex-col gap-4 p-5">
      
      <% if @actions.present? %>
        <div class="flex justify-end items-end gap-4">
          <% @actions.each do |action| %>
            <%= action%>
          <% end %>
        </div>
      <% end %>
      
      <% if @title.present? %>
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          <%= @title %>
        </h2>
      <% end %>
      
      <div class="text-gray-700">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>

